# Google OAuth Secrets (Believed to not be needed given Auth runs through Supabase)
GOOGLE_CLIENT_ID=id_from_google_dashboard.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=secret_from_google_dashboard

# Emails that are allowed access to the admin dashboard (~/admin)
ADMIN_EMAILS=

# Database Config
PUBLIC_SUPABASE_URL=https://supabase_url.supabase.co
PUBLIC_SUPABASE_ANON_KEY=supabase_anon_key
# Key allows seeding of database
SUPABASE_SERVICE_ROLE_KEY=supabase_service_role_key

# Stripe Config
PUBLIC_STRIPE_PUBLISHABLE_KEY=stripe_publish_key
STRIPE_SECRET_KEY=stripe_secret_key
STRIPE_WEBHOOK_SECRET=stripe_webhook_key
