# Dependencies
node_modules
.pnpm-store

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
.svelte-kit
.vercel
dist
build

# Test outputs
coverage
test-results
playwright-report

# Logs
logs
*.log
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Supabase
supabase/.env
supabase/.branches
supabase/.temp

# TypeScript
*.tsbuildinfo

# Misc
.vercel